.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 170px;
  width: 170px;
}

.featureSvg:hover {
  transform: scale(0.97);
  transition: transform 0.2s ease-in-out;
}
